.weather-item {
  display: flex;
  flex-direction: row;

  padding-top: 20px;
  padding-right: 3vw;
  padding-bottom: 20px;
  padding-left: 3vw;

  outline: 1px dotted black;
  background-color: rgba(144, 238, 144, 0.15);

  align-items: center;
  justify-content: space-between;
}

.weather-item__time {
  display: flex;

  align-items: center;
}

.weather-item__hour {
  min-width: 16px;
}
.weather-item__main {
  display: flex;

  align-items: center;
}

.weather-item__temp {
  font-size: 20px;
}

.weather-item__info-item {
  margin-top: 8px;
}

.weather-item__info-item:first-child {
  margin-top: 0;
}

.weather-item__icon {
  max-height: 100%;
}
