.date-item {
  display: flex;
  flex-direction: column;

  margin-right: 10px;

  text-align: center;
}

.date-item:last-of-type {
  margin-right: 0;
}

.date-item__monthday {
  font-size: 18px;
  line-height: 35px;

  width: 40px;
  height: 40px;
  padding-top: 5px;

  cursor: pointer;
  text-align: center;

  border-radius: 50%;
}

.date-item__monthday:hover {
  text-decoration: underline;

  background-color: rgba(251, 140, 0, 0.5);
}

.date-item__monthday--active {
  color: black;
  background-color: rgba(239, 83, 80, 0.7);
}
