.loading {
  position: fixed;

  width: 100vw;
  height: 100vh;
}

@keyframes loading-spinner-animation {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  position: absolute;
  left: 45vw;

  width: 80px;

  animation: loading-spinner-animation 1s linear infinite;
}
