.weather-list {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}

.city-name {
  font-size: 23px;

  margin-bottom: 10px;

  text-align: center;
}

.weather-list__date {
  font-size: 18px;

  margin-left: 1.5vw;
}
